$primary-blue: #5badf0;
$alternate-blue: #3f86ed;
$primary-cyan: #79c6c0;
$primary-pink: #d23669;
$primary-grey: #607d8b;
$border-grey: #eee;
$bg-white: #fffeff;

$text-black: #333;
$text-grey: #aaa;

$colorPrimary: $primary-pink;
$colorAlternate: $primary-cyan;
$colorBG: $bg-white;
$textPrimary: $text-black;
$textAlternate: $text-grey;
$borderGrey: $border-grey;

// variables
$headerHeight: 4rem;
$footerHeight: 3rem;
