@import '@styles/_theme.scss';
@import '@styles/_breakpoints.scss';

.container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > h1 {
    color: $colorPrimary;
  }
}
